@import "base";

* {
    
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: $primary-color;
    color: $primary-text-color;
}

.containerGrid {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-rows: 250px;
    grid-auto-rows: auto;
    grid-template-areas: 
    "hd hd"
    "nav nav"
    "sidebar main"
    "footer footer"
    ;
}

.header {
    grid-area: hd;
    /* height: 250px; */
    padding: $std-indent;

    @include background-img('../images/header.jpg');
    // background-image: url('../images/header.jpg');
    // @extend %bacground-setup;
    // background-position: center center;
    // background-size: cover;
}

.header__title {
    text-align: center;
    text-transform: uppercase;
}

.sort {
    grid-area: nav;
    display: flex;
}
.sort__label, .sort__item {
    /* display: inline-block; */
    padding: 0 $double-std-indent;
    line-height: 3rem;
    text-decoration: none;
    border-bottom: 5px solid transparent;
}

.sort__item.active,
.sort__item:hover {
    background-color: #0F0D0E;
    /* border-bottom: 5px solid #FF7474; */
    border-bottom-color: #FF7474;
}

.sidebar {
    grid-area: sidebar;
    /* display: inline-block; */
    /* width: 25%; */
    padding: $double-std-indent;
    /* background-color: green; */
    /* float: left; */
    
}

.content {
    grid-area: main;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* display: inline-block; */
    /* width: 75%; */
    /* background-color: red; */
}

.card {
    /* display: inline-block; */
    width: 45%;
    height: fit-content;
    margin-bottom: $double-std-indent;
    /* margin-left: 2.5%;
    margin-right: 2.5%;
    float: left; */
    background-color: $primary-color-light;

    // border-radius: $radius;
    // mixin
    @include border-radius($radius);

    overflow: hidden;
    transition: box-shadow 0.25s, transfrom 0.25s;
}

.card:hover {
    box-shadow: 0 0.5rem 0.5rem -0.4rem #777;
    transform: translateY(-0.50rem);
}

.card__header {
    position: relative;
    height: 250px;
    overflow: hidden;

    @include background-img('../images/movie.jpg');    
    // background-image: url('../images/movie.jpg');
    // background-position: center center;
    // background-size: cover;
}

.card__title {
    position: absolute;
    left: 16px;
    bottom: $double-std-indent;
    font-weight: 900;
    -webkit-text-stroke: 0.05rem rgba(0,0,0,.5);
}

.card__info {
    position: absolute;
    left: 16px;
    bottom: 16px;
    color: pink;
    font-weight: 900;
    text-shadow: 1px 1px 4px rgba(255, 255, 236, .7);
}

.card__content {
    padding: $std-indent;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

.card__contenr p {
    margin: 0;
}

.card__description {
    @include line-card(3);
}

.footer {
    grid-area: footer;
    padding: $double-std-indent;
    background-color: $primary-color-light;
    text-align: center;
}

.burger {
    display: none;
}

.burger__bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    .containerGrid {
        grid-template-columns: auto;
        grid-template-rows: 100px;
        grid-template-areas: 
        "hd hd"
        "nav nav"
        "main main"
        "footer footer"
        ;
    }
    
    .header {
        padding: 0;    
        font-size: 20px;
    }
    .sort {
        padding: $std-indent;
        flex-direction: column;
        align-items: flex-start;
        height: fit-content;
    }

    //scss
    .sort {
        .sort__label,.sort__item {
            display: none;
        }   
    }

    // .sort .sort__label,
    // .sort .sort__item {
    //     display: none;
    // }

    .sort.open .sort__label,
    .sort.open .sort__item {
        display: block;
        width: 100%;    
        padding: 0;
    }

    .sidebar {
        display: none;
    }
    .card {
        width: 100%;
        margin: 0 $std-indent $std-indent $std-indent;
    }
    .burger {
        display: inline-block;
    }
}

